<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>
      Geriatric care
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- LISTA -->

  <ion-list [inset]="true">

    <!-- DARK MODE -->

    <ion-item>

      <ion-icon
        name="moon-outline"
        slot="start" class="icon">
      </ion-icon>

      <ion-label>

        <h2>
          Modo Escuro
        </h2>

        <p>
          Ativar tema escuro
        </p>

      </ion-label>

      <ion-toggle
        slot="end"
        [checked]="modoEscuro"
        (ionChange)="trocarTema()">
      </ion-toggle>

    </ion-item>

    <!-- CONFIGS -->

    <ion-item-sliding
      *ngFor="let item of configuracoes">

      <ion-item
        button="true"
        (click)="abrirModal(item)">

        <ion-icon
          slot="start"
          [name]="item.icone" class="icon">
        </ion-icon>

        <ion-label>

          <h2>
            {{ item.nome }}
          </h2>

          <p>
            {{ item.descricao }}
          </p>

        </ion-label>

      </ion-item>

      <ion-item-options slot="end">

        <ion-item-option color="warning">

          <ion-icon
            slot="icon-only"
            name="create-outline">
          </ion-icon>

        </ion-item-option>

        <ion-item-option color="danger">

          <ion-icon
            slot="icon-only"
            name="trash-outline">
          </ion-icon>

        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

<!-- MODAL CONTA -->

<ion-modal [isOpen]="modalConta">

  <ng-template>

    <ion-header>

      <ion-toolbar>

        <ion-title>
          Conta
        </ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <!-- CUIDADOR -->

      <ion-card>

        <ion-card-header>

          <ion-card-title>
            Cuidador
          </ion-card-title>

          <ion-card-subtitle>
            Dados da conta do cuidador
          </ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>

          <!-- NOME -->

          <div
            style="
              margin-bottom:15px;
            "
          >

            <strong>
              Nome
            </strong>

            <p
              style="
                margin-top:5px;
              "
            >

              {{ dadosConta.nome_cuidador }}

            </p>

          </div>

          <!-- EMAIL -->

          <div
            style="
              margin-bottom:15px;
            "
          >

            <strong>
              Email
            </strong>

            <p
              style="
                margin-top:5px;
              "
            >

              {{ dadosConta.email_cuidador }}

            </p>

          </div>

          <!-- TELEFONE -->

          <div
            style="
              margin-bottom:15px;
            "
          >

            <strong>
              Telefone
            </strong>

            <p
              style="
                margin-top:5px;
              "
            >

              {{ dadosConta.telefone_cuidador }}

            </p>

          </div>


          <!-- EDITAR -->

          <div
            style="
              display:flex;
              justify-content:flex-end;
            "
          >

            <ion-icon
              name="create-outline"
              style="
                font-size:28px;
                color:#c62828;
              "
              (click)="abrirEditarConta('cuidador')">
            </ion-icon>

          </div>

        </ion-card-content>

      </ion-card>

      <br>

      <!-- PACIENTE -->

      <ion-card>

        <ion-card-header>

          <ion-card-title>
            Paciente
          </ion-card-title>

          <ion-card-subtitle>
            Dados do paciente
          </ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>

          <!-- NOME -->

          <div
            style="
              margin-bottom:15px;
            "
          >

            <strong>
              Nome
            </strong>

            <p
              style="
                margin-top:5px;
              "
            >

              {{ dadosConta.nome_paciente }}

            </p>

          </div>

          <!-- DATA NASCIMENTO -->

          <div
            style="
              margin-bottom:15px;
            "
          >

            <strong>
              Data nascimento
            </strong>

            <p
              style="
                margin-top:5px;
              "
            >

              {{ dadosConta.data_nascimento }}

            </p>

          </div>

          <!-- EDITAR -->

          <div
            style="
              display:flex;
              justify-content:flex-end;
            "
          >

            <ion-icon
              name="create-outline"
              style="
                font-size:28px;
                color:#c62828;
              "
              (click)="abrirEditarConta('paciente')">
            </ion-icon>

          </div>

        </ion-card-content>

      </ion-card>

      <br>

      <!-- FECHAR -->

      <ion-button
        expand="block"
        color="danger"
        (click)="fecharModais()">

        Fechar

      </ion-button>
      <ion-button color="danger" expand="block" (click)="logout()">
      Sair da conta
      </ion-button>

    </ion-content>

  </ng-template>

</ion-modal>

<!-- MODAL EDITAR CONTA -->

<ion-modal [isOpen]="modalEditarConta">

  <ng-template>

    <ion-header>

      <ion-toolbar>

        <ion-title>
          Editar Conta
        </ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <!-- CUIDADOR -->

      <div *ngIf="tipoEdicao === 'cuidador'">

        <!-- NOME -->

        <ion-input
          class="input-vermelho"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.nome_cuidador">
        </ion-input>

        <br>

        <!-- EMAIL -->

        <ion-input
          class="input-vermelho"
          type="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.email_cuidador">
        </ion-input>

        <br>

        <!-- TELEFONE -->

        <ion-input
          class="input-vermelho"
          type="tel"
          label="Telefone"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.telefone_cuidador">
        </ion-input>

      </div>

      <!-- PACIENTE -->

      <div *ngIf="tipoEdicao === 'paciente'">

        <!-- NOME -->

        <ion-input
          class="input-vermelho"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.nome_paciente">
        </ion-input>

        <br>

        <!-- DATA NASCIMENTO -->

        <ion-input
          class="input-vermelho"
          type="date"
          label="Data nascimento"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.data_nascimento">
        </ion-input>

      </div>

      <br><br>

      <!-- SALVAR -->

      <ion-button
        expand="block"
        color="danger"
        (click)="editarConta()">

        Salvar

      </ion-button>

      <!-- CANCELAR -->

      <ion-button
        expand="block"
        color="medium"
        (click)="fecharEditarConta()">

        Cancelar

      </ion-button>

    </ion-content>

  </ng-template>

</ion-modal>

<!-- MODAL EDITAR CONTA -->

<ion-modal [isOpen]="modalEditarConta">

  <ng-template>

    <ion-header>

      <ion-toolbar>

        <ion-title>
          Editar Conta
        </ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <!-- CUIDADOR -->

      <div *ngIf="tipoEdicao === 'cuidador'">

        <ion-input
          class="input-vermelho"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.nome_cuidador">
        </ion-input>

        <br>

        <ion-input
          class="input-vermelho"
          type="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.email_cuidador">
        </ion-input>

        <br>

        <ion-input
          class="input-vermelho"
          type="tel"
          label="Telefone"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.telefone_cuidador">
        </ion-input>

      </div>

      <!-- PACIENTE -->

      <div *ngIf="tipoEdicao === 'paciente'">

        <ion-input
          class="input-vermelho"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.nome_paciente">
        </ion-input>

        <br>

        <ion-input
          class="input-vermelho"
          type="date"
          label="Data nascimento"
          labelPlacement="floating"
          [(ngModel)]="dadosConta.data_nascimento">
        </ion-input>

      </div>

      <br><br>

      <!-- SALVAR -->

      <ion-button
        expand="block"
        color="danger"
        (click)="editarConta()">

        Salvar

      </ion-button>

      <!-- CANCELAR -->

      <ion-button
        expand="block"
        color="medium"
        (click)="fecharEditarConta()">

        Cancelar

      </ion-button>

      

    </ion-content>

  </ng-template>

</ion-modal>

  <!-- MODAL CUIDADORES -->

  <ion-modal [isOpen]="modalCuidadores">

    <ng-template>

      <ion-header>

        <ion-toolbar>

          <ion-title>
            Cuidadores
          </ion-title>

        </ion-toolbar>

      </ion-header>

      <ion-content class="ion-padding">

        <!-- TOPO -->

        <div
          style="
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:20px;
          ">

          <div>

            <h2 style="margin:0;">
              Gerenciar Cuidadores
            </h2>

            <p style="margin-top:5px;">
              Cuidadores cadastrados
            </p>

          </div>

          <ion-icon
            name="person-add-outline"
            style="
              font-size:30px;
              color:#c62828;
            "
            (click)="abrirNovoCuidador()">
          </ion-icon>

        </div>

        <!-- CARDS -->

       <!-- CARDS -->

<ion-card
  *ngFor="let cuidador of cuidadoresExtras">

  <ion-card-header>

    <ion-card-title>

      {{ cuidador.nm_cuidador }}

    </ion-card-title>

    <ion-card-subtitle>

      {{ cuidador.nm_tipo }}

    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>

    <p>

      <strong>Email:</strong>

      {{ cuidador.email_cuidador }}

    </p>

    <p>

      <strong>Telefone:</strong>

      {{ cuidador.tel_cuidador }}

    </p>

    <div
      style="
        display:flex;
        justify-content:flex-end;
        gap:10px;
        margin-top:15px;
      ">

      <!-- EDITAR -->

      <ion-button
        fill="clear"
        color="danger"
        (click)="editarCuidador(cuidador)">

        <ion-icon
          name="create-outline">
        </ion-icon>

      </ion-button>

      <!-- EXCLUIR -->

      <ion-button
        fill="clear"
        color="danger"
        (click)="excluirCuidador(cuidador.cd_cuidador_extra)">

        <ion-icon
          name="trash-outline">
        </ion-icon>

      </ion-button>

    </div>

  </ion-card-content>

</ion-card>

        <!-- VAZIO -->

        <div
          *ngIf="cuidadoresExtras.length === 0"
          style="
            text-align:center;
            margin-top:40px;
            opacity:0.7;
          ">

          <ion-icon
            name="people-outline"
            style="font-size:70px;">
          </ion-icon>

          <p>
            Nenhum cuidador cadastrado
          </p>

        </div>

        <br>

        <ion-button
          expand="block"
          color="danger"
          (click)="fecharModais()">

          Fechar

        </ion-button>

      </ion-content>

    </ng-template>

  </ion-modal>

  <!-- MODAL NOVO -->

  <ion-modal [isOpen]="modalNovoCuidador">

    <ng-template>

      <ion-header>

        <ion-toolbar>

          <ion-title>
            Editar
          </ion-title>

        </ion-toolbar>

      </ion-header>

      <ion-content class="ion-padding">

        <!-- NOME -->

        <ion-input
          class="input-vermelho"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="novoCuidador.nome">
        </ion-input>

        <br>

        <!-- EMAIL -->

        <ion-input
          class="input-vermelho"
          type="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="novoCuidador.email">
        </ion-input>

        <br>

        <!-- TELEFONE -->

        <ion-input
          class="input-vermelho"
          type="tel"
          label="Telefone"
          labelPlacement="floating"
          [(ngModel)]="novoCuidador.telefone">
        </ion-input>

        <br>

        <!-- TIPO -->

        <ion-select
          class="input-vermelho"
          label="Tipo"
          labelPlacement="floating"
          [(ngModel)]="novoCuidador.cd_tipo">

          <ion-select-option value="">
            Selecione
          </ion-select-option>

          <ion-select-option value="2">
            Secundário
          </ion-select-option>

          <ion-select-option value="3">
            Contratado
          </ion-select-option>

          <ion-select-option value="4">
            Médico
          </ion-select-option>

        </ion-select>

        <br><br>

        <!-- SALVAR -->

        <ion-button
          expand="block"
          color="danger"
          (click)="salvarNovoCuidador()">

          Salvar

        </ion-button>

        <!-- CANCELAR -->

        <ion-button
          expand="block"
          color="medium"
          (click)="fecharNovoCuidador()">

          Cancelar

        </ion-button>

      </ion-content>

    </ng-template>

  </ion-modal>

<!-- MODAL TESTE BASAL -->

<ion-modal [isOpen]="modalTesteBasal">

  <ng-template>

    <ion-header>

      <ion-toolbar>

        <ion-title>
          Teste Basal
        </ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <h2>
        Teste de Batimentos
      </h2>
      <div
  class="info-teste-basal"
  (click)="presentAlertTesteBasal()">

  <p>
    O que é um teste basal?
  </p>

  <ion-icon
    name="information-circle-outline">
  </ion-icon>

</div>

      <p>
        Selecione o tipo de teste que deseja realizar.
      </p>

      <!-- TIPO DO TESTE -->

  <ion-select
  [(ngModel)]="testeBasal.cd_tipo"
  (ionChange)="selecionarTipoTeste()"
  label="Tipo de teste"
  labelPlacement="stacked"
  interface="popover">

  <ion-select-option [value]="''">
    Selecione
  </ion-select-option>

  <ion-select-option [value]="'1'">
    Repouso
  </ion-select-option>

  <ion-select-option [value]="'2'">
    Caminhando
  </ion-select-option>

  <ion-select-option [value]="'3'">
    Exercício intenso
  </ion-select-option>

</ion-select>

     <br>

<!-- BPM ATUAL -->

<ion-card *ngIf="testeBasal.iniciando">

  <ion-card-content>

    <h2>
      BPM atual: {{ bpmAtual }}
    </h2>

    <h3>
      Tempo restante: {{ tempoRestante }}
    </h3>

    <p>
      Valores coletados: {{ bpmColetados.length }}
    </p>

  </ion-card-content>

</ion-card>

<br>
<!-- INSTRUÇÕES DO TESTE -->

<ion-accordion-group
  *ngIf="mostrarInstrucoes && !testeBasal.iniciando">

  <ion-accordion value="instrucoes">

    <!-- CABEÇALHO -->

    <ion-item
  slot="header"
  class="accordion-header">

      <ion-label>

        <strong>
          Como realizar o teste
        </strong>

        <p>
          Instruções para realizar o teste selecionado
        </p>

      </ion-label>

    </ion-item>

    <!-- CONTEÚDO -->

    <div
      class="ion-padding"
      slot="content">

      <!-- REPOUSO -->

      <div *ngIf="testeBasal.cd_tipo === '1'">

        <h2>
          Teste de Repouso
        </h2>

        <p>
          Para realizar o teste de repouso, o paciente deve permanecer
          sentado e tranquilo antes do início da coleta.
        </p>

        <p>
          Mantenha uma posição confortável e evite conversar ou realizar
          movimentos desnecessários durante o teste.
        </p>

        <p>
          Permaneça tranquilo enquanto o sistema registra os batimentos
          cardíacos.
        </p>

      </div>

      <!-- CAMINHADA -->

      <div *ngIf="testeBasal.cd_tipo === '2'">

        <h2>
          Teste de Caminhada
        </h2>

        <p>
          Para realizar o teste de caminhada, o paciente deve caminhar
          em um ritmo confortável e constante.
        </p>

        <p>
          Evite correr ou realizar movimentos muito intensos.
        </p>

        <p>
          O objetivo é registrar os batimentos cardíacos durante a
          caminhada.
        </p>

        <p>
          Caso o paciente apresente algum desconforto, interrompa
          a atividade.
        </p>

      </div>

      <!-- EXERCÍCIO INTENSO -->

      <div *ngIf="testeBasal.cd_tipo === '3'">

        <h2>
          Teste de Exercício Intenso
        </h2>

        <p>
          Este teste deve ser realizado somente quando houver orientação
          adequada para esse nível de esforço.
        </p>

        <p>
          Durante o teste, os batimentos cardíacos serão acompanhados
          pelo sistema.
        </p>

        <p>
          Se houver dor, tontura, falta de ar ou qualquer mal-estar,
          interrompa a atividade e procure ajuda.
        </p>

      </div>

    </div>

  </ion-accordion>

</ion-accordion-group>

<br>


<br>

<!-- INICIAR -->

<ion-button
  expand="block"
  color="danger"
  *ngIf="!testeBasal.iniciando"
  (click)="iniciarTesteBasal()">

  Iniciar teste

</ion-button>

<!-- FINALIZAR -->

<ion-button
  expand="block"
  color="medium"
  *ngIf="testeBasal.iniciando"
  (click)="cancelarTesteBasal()">

  Cancelar teste

</ion-button>

<ion-button
  expand="block"
  color="medium"
  (click)="fecharModais()">

  Fechar

</ion-button>

<br><br>

<!-- TABELA DOS TESTES BASAIS -->
<div class="tabela-container">
<ion-card>

  <ion-card-header>

    <ion-card-title>
      Testes realizados
    </ion-card-title>

    <ion-card-subtitle>
      Histórico dos testes basais realizados
    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>

    <div class="tabela-container">

      <table class="tabela-basal">


          <tr>
            <th>Tipo</th>
            <th>Média</th>
            <th>Ação</th>
          </tr>


          <tr *ngFor="let teste of testesBasais">

            <td>
              {{ teste.nm_tipo }}
            </td>

            <td>
              {{ teste.media_bpm }} BPM
            </td>

            <td class="coluna-acao">

              <ion-button
                fill="clear"
                color="danger"
                class="botao-excluir"
                (click)="excluirTesteBasal(teste.cd_teste_basal)">

                <ion-icon
                  slot="icon-only"
                  name="trash-outline">
                </ion-icon>

              </ion-button>

            </td>

          </tr>


      </table>
      

    </div>

    <p
      *ngIf="testesBasais.length === 0"
      style="text-align:center;">

      Nenhum teste basal realizado.

    </p>

  </ion-card-content>

</ion-card>
</div>

    </ion-content>

  </ng-template>

</ion-modal>
  <!-- MODAL AJUDA -->

<ion-modal [isOpen]="modalAjuda">

  <ng-template>

    <ion-header>

      <ion-toolbar>

        <ion-title>
          Ajuda
        </ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <h2>
        Suporte
      </h2>

      <p>
        Envie sua dúvida ou problema
      </p>

      <!-- ASSUNTO -->

      <ion-input
        class="input-vermelho"
        label="Assunto"
        labelPlacement="floating"
        [(ngModel)]="ajuda.assunto">
      </ion-input>

      <br>

      <!-- DESCRIÇÃO -->

      <ion-input
        class="input-vermelho"
        label="Descrição"
        labelPlacement="floating"
        [(ngModel)]="ajuda.descricao">
      </ion-input>

      <br><br>

      <!-- ENVIAR -->

      <ion-button
        expand="block"
        color="danger"
        (click)="enviarAjuda()">

        Enviar

      </ion-button>

      <!-- FECHAR -->

      <ion-button
        expand="block"
        color="medium"
        (click)="fecharModais()">

        Fechar

      </ion-button>

    </ion-content>

  </ng-template>

</ion-modal>

</ion-content>