<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geriatric-care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 

  <!-- CARD MÉDIA -->
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Média Diária
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <table>

        <tr>
          <th>Data</th>
          <th>Média</th>
          <th>Máx</th>
          <th>Mín</th>
        </tr>

        <tr *ngFor="let item of resumoDiario">

  <td>{{ item.data | date:'dd/MM/yyyy' }}</td>

  <td>{{ item.media | number:'1.0-0' }}</td>

  <td>{{ item.maximo }}</td>

  <td>{{ item.minimo }}</td>

</tr>

      </table>

    </ion-card-content>

  </ion-card>

  <!-- GRÁFICO DIA -->
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Gráfico Diário
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <canvas id="graficoDia"></canvas>

    </ion-card-content>

  </ion-card>

  <!-- GRÁFICO SEMANA -->
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Gráfico Semanal
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <canvas id="graficoSemana"></canvas>

    </ion-card-content>

  </ion-card>
   <!-- BOTÃO PDF -->
  <ion-button
    expand="block"
    color="danger"
    (click)="baixarPDF()">

    Baixar PDF

  </ion-button>
 <ion-button
    expand="block"
    color="danger"
    (click)="baixarPDF()">

    Enviar para todos

  </ion-button>

</ion-content>