table {

  width: 100%;

  border-collapse: collapse;
}

th, td {

  border: 1px solid #ccc;

  padding: 10px;

  text-align: center;
}

canvas {

  width: 100% !important;

  max-height: 300px;
}
body.dark {

  p,
  span,
  h1,
  h2,
  h3,
  ion-label,
  ion-card-subtitle {

    color: white !important;

  }

}

body.dark ion-card {
  --background: #1e1e1e;
  color: #ffffff;
}

/* TÍTULO DOS CARDS */
body.dark ion-card-title {
  color: #ffffff !important;
}

body.dark ion-card-subtitle {
  color: #cccccc !important;
}

/* TEXTO NORMAL */
body.dark ion-card-content {
  color: #ffffff !important;
}body.dark ion-card {
  background: #1e1e1e !important;
  color: white !important;
}

body.dark ion-card-title,
body.dark ion-card-subtitle {
  color: white !important;
}

body.dark ion-card-content {
  color: white !important;
}