ion-input {
  --highlight-color-focused: #ad0d0d !important;
  --highlight-color-valid: #ad0d0d !important;
  --highlight-color-invalid: #ad0d0d !important;
}

/* força o underline do input */
ion-item {
  --highlight-color-focused: #ad0d0d !important;
}

/* remove qualquer cor padrão do Ionic */
ion-input.ion-focused {
  --highlight-color: #ad0d0d !important;
}
.erro {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 4px;
  font-size: 13px;
}

/* Estilo para input com erro */
ion-item.input-error {
  --border-color: #ff0000 !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  --highlight-color-focused: #ff0000 !important;
  --highlight-color-invalid: #ff0000 !important;
}

ion-item.input-error ion-input {
  --highlight-color: #ff0000 !important;
}
