ion-input {
  --highlight-color-focused: #ad0d0d !important;
  --highlight-color-valid: #ad0d0d !important;
  --highlight-color-invalid: #ad0d0d !important;
}

/* força o underline do input */
ion-item {
  --highlight-color-focused: #ad0d0d !important;
}

/* remove qualquer cor padrão do Ionic */
ion-input.ion-focused {
  --highlight-color: #ad0d0d !important;
}