ion-input {
  --highlight-color-focused: #ad0d0d !important;
  --highlight-color-valid: #ad0d0d !important;
  --highlight-color-invalid: #ad0d0d !important;
}

/* força o underline do input */
ion-item {
  --highlight-color-focused: #ad0d0d !important;
}

/* remove qualquer cor padrão do Ionic */
ion-input.ion-focused {
  --highlight-color: #ad0d0d !important;
}
.erro {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 4px;
  font-size: 13px;
}

/* Estilo para input com erro */
ion-item.input-error {
  --border-color: #ff0000 !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  --highlight-color-focused: #ff0000 !important;
  --highlight-color-invalid: #ff0000 !important;
}

ion-item.input-error ion-input {
  --highlight-color: #ff0000 !important;
}
/* fundo escuro do modal */
.bottom-sheet::part(content) {
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 55%;
}

/* conteúdo */
.sheet-content {
  --background: #fff;
}

/* puxador da folha */
.sheet-handle {
  width: 50px;
  height: 5px;
  background: #ccc;
  border-radius: 10px;
  margin: 10px auto 15px auto;
}

/* título */
.sheet-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* botão entrar vermelho mais forte */
.btn-entrar {
  margin-top: 15px;
  font-weight: bold;
}


.sheet-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

.sheet-title {
  color: var(--ion-text-color);
}

.sheet-content ion-item {
  --background: var(--ion-item-background);
  --color: var(--ion-text-color);
}

.sheet-content ion-input {
  --color: var(--ion-text-color);
}