<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geriatric Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card class="heart">
  <div class="content">

    <div class="left">
      <h1>{{ bpm }}</h1>
      <p>bpm</p>
    </div>

    <div class="right">
      <div class="circle">
        <ion-icon name="heart"></ion-icon>
      </div>
    </div>

  </div>
</ion-card>
<div class="card-list">

    <!-- Card 1 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="heart-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Média diária</h2>
          <p>86 bpm</p>
        </div>
      </div>
    </ion-card>

    <!-- Card 2 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="trending-up-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Máxima de hoje</h2>
          <p>98 bpm</p>
        </div>
      </div>
    </ion-card>

    <!-- Card 3 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="trending-down-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Mínima de hoje</h2>
          <p>76 bpm</p>
        </div>
      </div>
    </ion-card>

  </div>
  

</ion-content>

<!-- TABS FORA DO ion-content (OBRIGATÓRIO) -->
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" style="color:#ffffff;" >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="radio">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Marcar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>