<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geriatric-care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card class="heart">
  <div class="content">

    <div class="left">
      <h1 id="display-bpm">{{ bpm ?? '—' }}</h1>
      <p>bpm</p>

    </div>

    <div class="right">
      <div class="circle">
        <ion-icon name="heart"></ion-icon>
      </div>
    </div>

  </div>
</ion-card>
<div class="card-list">

    <!-- Card 1 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="heart-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Média diária</h2>
          <p>{{ mediaDiaria | number:'1.0-0' }} bpm</p>
        </div>
      </div>
    </ion-card>

    <!-- Card 2 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="trending-up-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Máxima de hoje</h2>
          <p>{{ maximoHoje ?? '—' }} bpm</p>
        </div>
      </div>
    </ion-card>

    <!-- Card 3 -->
    <ion-card class="custom-card">
      <div class="row">
        <ion-icon name="trending-down-outline" class="icon"></ion-icon>
        <div class="text">
          <h2>Mínima de hoje</h2>
          <p>{{ minimoHoje ?? '—' }} bpm</p>
        </div>
      </div>
    </ion-card>

  </div>
  

</ion-content>